<include src="./views/card.html">
    {
      "imgSrc": "assets/images/participant-1.jpg",
      "imgAlt": "Foto de perfil de Fran Coto, el participante número 1",
      "name": "Fran Coto",
      "desc": "Ingeniero informático y estudiante de máster en la UOC, Fran Coto está decidido a conquistar el premio con su pasión y conocimiento en cocina, combinando tecnología y tradición en cada plato."
    }
  </include>

  <include src="./views/card.html">
    {
      "imgSrc": "assets/images/participant-2.jpg",
      "imgAlt": "Foto de perfil de Manuel Pérez, el participante número 2",
      "name": "Manuel Pérez",
      "desc": "Desde niño, Manuel ha explorado la cocina con amor, aprendiendo y mezclando sabores globales. Su pasión lo lleva a crear experiencias culinarias memorables que reflejan su profundo respeto por la gastronomía."
    }
  </include>

  <include src="./views/card.html">
    {
      "imgSrc": "assets/images/participant-3.jpg",
      "imgAlt": "Foto de perfil de Rosa Gil, el participante número 3",
      "name": "Rosa Gil",
      "desc": "Apasionada de los ingredientes locales, Rosa Gil fusiona técnicas innovadoras con recetas tradicionales para ofrecer platos que destacan por su frescura y originalidad, celebrando la cultura culinaria de su región."
    }
  </include>

  <include src="./views/card.html">
    {
      "imgSrc": "assets/images/participant-4.jpg",
      "imgAlt": "Foto de perfil de Mónica Romero, el participante número 4",
      "name": "Mónica Romero",
      "desc": "Especialista en repostería, Mónica Romero combina su formación con una creatividad excepcional para producir postres que no solo deleitan el paladar, sino que también cautivan visualmente a todos los comensales."
    }
  </include>

  <include src="./views/card.html">
    {
      "imgSrc": "assets/images/participant-5.jpg",
      "imgAlt": "Foto de perfil de Bryan García, el participante número 5",
      "name": "Bryan García",
      "desc": "Defensor de la comida saludable, Bryan García demuestra que la cocina simple puede ser extraordinariamente sabrosa y nutritiva, utilizando ingredientes frescos para crear platos que revitalizan y energizan."
    }
  </include>

  <include src="./views/card.html">
    {
      "imgSrc": "assets/images/participant-6.jpg",
      "imgAlt": "Foto de perfil de Susana Blanco, el participante número 6",
      "name": "Susana Blanco",
      "desc": "Inspirada en las cocinas mediterránea y asiática, Susana Blanco valora la simplicidad y el equilibrio en sus creaciones, ofreciendo platos que resaltan la belleza y el sabor de cada ingrediente sin complicaciones."
    }
  </include>