<footer class="footer bg-light">
    <div class="container-fluid py-2">
        <div class="row pt-2">
            <div class="col-12 text-center">
                <p class="fs-6 fst-italic pb-3">Fuente: Imágenes generadas por DALL-E con <a
                        href="https://www.microsoft.com/es-es/microsoft-copilot" class="text-dark" data-bs-toggle="tooltip" data-bs-title="Microsoft Copilot de Microsoft">Microsoft Copilot</a>
                    y
                    texto con
                    <a href="ChatGPT" class="text-dark" data-bs-toggle="tooltip" data-bs-title="ChatGPT de Open AI">ChatGPT</a>
                </p>
                <p>© Francisco José Coto Pacheco</p>
                <p class="small fst-italic">Esta página está realizada con fines académicos.</p>
            </div>
        </div>
        <div class="footer__line"></div>
        <div class="row text-center py-2">
            <div class="col-md-2">
                <a href="index.html">
                    <img src="./assets/images/logo-header.png" alt="Cooking Challenge" class="img-fluid footer__logo" />
                </a>
            </div>
            <div class="col-md-8">
                <ul class="list-unstyled footer__links">
                    <li><a href="index.html" class="text-dark">Inicio</a></li>
                    <li><a href="#" class="text-dark">Participantes</a></li>
                    <li><a href="#" class="text-dark">Información el concurso</a></li>
                    <li><a href="#" class="text-dark">Página generada con IA</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <a href="#" class="text-dark mx-2"><i class="fab fa-twitter fa-xl"></i></a>
                <a href="#" class="text-dark mx-2"><i class="fab fa-facebook fa-xl"></i></a>
                <a href="#" class="text-dark mx-2"><i class="fab fa-instagram fa-xl"></i></a>
                <a href="#" class="text-dark mx-2"><i class="fab fa-whatsapp fa-xl"></i></a>
            </div>
        </div>
    </div>
</footer>