<footer class="bg-gray py-2">
    <div class="max-w-full mx-auto">
        <div class="pt-2">
            <div class="text-center">
                <p class="text-base italic pb-8">Fuente: Imágenes generadas por DALL-E con <a
                        href="https://www.microsoft.com/es-es/microsoft-copilot" class="text-dark underline">Microsoft
                        Copilot</a>
                    y
                    texto con
                    <a href="https://chatgpt.com/" class="text-dark underline">ChatGPT</a>
                </p>
                <p>© Francisco José Coto Pacheco</p>
                <p class="text-sm italic pt-5">Esta página está realizada con fines académicos.</p>
            </div>
        </div>
        <div class="h-px mx-20 my-4 bg-gray-light"></div>
        <div class="grid gap-4 text-center py-2 md:grid-cols-3">
            <div class="flex justify-center items-center mb-4 md:mb-0">
                <a href="index.html">
                    <img src="./assets/images/logo-header.png" alt="Cooking Challenge"
                        class="w-full max-w-[100px] h-auto" />
                </a>
            </div>
            <div class="mb-4 md:mb-0">
                <ul class="grid grid-cols-2 gap-4 md:grid-cols-2 lg:flex lg:gap-20 justify-center">
                    <li><a href="index.html" class="text-dark underline">Inicio</a></li>
                    <li><a href="participants.html" class="text-dark underline">Participantes</a></li>
                    <li><a href="information.html" class="text-dark underline">Información</a></li>
                    <li><a href="#" class="text-dark underline">Página con IA</a></li>
                </ul>
            </div>
            <div class="flex justify-center items-center space-x-4">
                <a href="#" class="text-dark"><i class="fab fa-twitter fa-xl"></i></a>
                <a href="#" class="text-dark"><i class="fab fa-facebook fa-xl"></i></a>
                <a href="#" class="text-dark"><i class="fab fa-instagram fa-xl"></i></a>
                <a href="#" class="text-dark"><i class="fab fa-whatsapp fa-xl"></i></a>
            </div>
        </div>
    </div>
</footer>