<header class="sticky top-0 z-100 flex items-center justify-between p-4 bg-gray text-black">
    <div class="w-16 md:w-24">
        <a href="index.html">
            <img src="./assets/images/logo-header.png" alt="Cooking Challenge" class="w-full h-auto">
        </a>
    </div>
    <button id="nav-button" class="md:hidden">
        <span id="open-icon" class="fas fa-bars fa 2xl md:hidden"></span>
        <span id="close-icon" class="fas fa-times fa 2xl hidden"></span>
    </button>
</header>
<nav id="nav-menu" class="w-full hidden md:flex md:items-center md:justify-center bg-gray">
    <ul class="flex flex-col p-0 m-0 list-none md:flex-row md:items-center md:justify-center">
        <li class="pl-4 mb-6 md:pl-8 md:mb-0">
            <a href="index.html" class="text-black no-underline hover:font-bold hover:text-blue">Inicio</a>
        </li>
        <li class="pl-4 mb-6 md:pl-8 md:mb-0">
            <a href="participants.html"
                class="text-black no-underline hover:font-bold hover:text-blue">Participantes</a>
        </li>
        <li class="pl-4 mb-6 md:pl-8 md:mb-0">
            <a href="information.html" class="text-black no-underline hover:font-bold hover:text-blue">Información</a>
        </li>
        <li class="pl-4 mb-6 md:pl-8 md:mb-0">
            <a href="#" class="text-black no-underline hover:font-bold hover:text-blue">Página con IA</a>
        </li>
    </ul>
</nav>