<ol class="list-none p-0 mx-10">

    <include src="./views/list-item.html">
      {
      "num": "1",
      "title": "Registrarse",
      "desc": "Regístrate en nuestro sitio web y completa tu perfil con detalles culinarios. Asegúrate de incluir tu experiencia, especialidades y cualquier distinción relevante que pueda destacarte entre los competidores. Proporciona también una breve biografía para que los jueces y otros participantes puedan conocer más sobre tu trayectoria en el mundo culinario."
      }
    </include>

    <include src="./views/list-item.html">
      {
      "num": "2",
      "title": "Mostrar tu plato",
      "desc": "Sube una receta original y una foto de tu plato a la sección del concurso. Asegúrate de que la fotografía sea de alta calidad, ya que esto puede influir en cómo los jueces perciben tu plato. Describe los ingredientes, el proceso de preparación y la inspiración detrás de tu creación, destacando cualquier elemento único o técnica innovadora que hayas empleado."
      }
    </include>

    <include src="./views/list-item.html">
      {
      "num": "3",
      "title": "Esperar el veredicto",
      "desc": "Espera a que el jurado evalúe tu entrada y sigue participando en las actividades del concurso mientras tanto. Participa en los talleres, demostraciones y sesiones de networking programadas durante el evento. Estas actividades no solo son oportunidades para aprender y mejorar tus habilidades, sino también para interactuar con otros chefs y profesionales de la industria, lo que podría abrir nuevas puertas en tu carrera culinaria."
      }
    </include>
    
</ol>